<%= form_with(model: cafe, local: true) do |form| %>
  <% if cafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cafe.errors.count, "error") %> prohibited this cafe from being saved:</h2>

      <ul>
      <% cafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
